.main_ToolFeatures{
    background-color: none;
    /* background-color: yellow; */
    box-shadow: 1px 1px 10px 1px #d8d8d8;
    margin-top: 5rem;
    width: 23%;
    z-index: 99999999;
    display: flex;
    flex-direction: column;
    padding: 5px;
}